* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgba(169, 169, 235, 0.762);
}

.snare-pad {
  background: rgba(213, 147, 207, 0.708);
}

.hihat-pad {
  background: rgba(182, 222, 174, 0.708);
}

.kick-pad.active {
  background: rgba(51, 105, 222, 0.708);
}
.snare-pad.active {
  background: rgba(167, 46, 157, 0.708);
}

.hihat-pad.active {
  background: rgba(3, 74, 13, 0.913);
}
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
  background: green;
  color: white;
  border: 1px solid red;
  border-radius: 3.5rem 2.5em;
  cursor: pointer;
  width: 10rem;
}

select {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.mute.active {
  background: gray;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
